* {
    /* border: 1px solid red; */
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    padding: 10px;
    font-family: sans-serif;
}
.panel {
    width: 400px;
    background: #ffffff;
    border: 1px solid rgb(212, 212, 212);
}

.panel h3 {
    margin: 0px;
    padding: 12px 16px;
    font-size: 20px;
    border: 1px solid #e2e8f0;
}

.log{
    border: 1px solid rgb(212, 212, 212);
    padding: 12px 16px;
    height: 130px;
    overflow-y: auto;
    margin-bottom: 10px;
}

.log p{
    margin: 0 0 8px;
    color: rgb(85, 84, 84);
}